{% load static %}
<!DOCTYPE html>

<!-- Include jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- Load the HTMX JS: -->
<script src="{% static 'js/htmx.min.js' %}" defer></script>



<!-- Include Highcharts library -->
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{% static 'ctaStyle.css' %}"> 
    </head>
    <body>
        <h1>{{ticker}} Company Trends</h1>
        <!-- Display messages (e.g., for invalid ticker symbol) -->
        

        <div id="stock-chart" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
        <div id="sentiment">
          <h1>Positive: <span id="positive">{{pos}}</span></h1>
          <h1>Negative: <span id="negative">{{neg}}</span></h1>
          <div id="pie-chart">
              {{ graph| safe}}
          </div>
      </div>
      
      <script>
        $(document).ready(function() {
            function updateSentiment() {
                $.get("/update_sentiment/", {"ticker": "{{ticker}}"}, function(data) {
                    if (data.error === undefined) {
                        $("#positive").text(data.pos);
                        $("#negative").text(data.neg);
                        $("#pie-chart").html(data.graph);
                    }
                });
            }
        
            setInterval(updateSentiment, 3000); // Update every 3 seconds
        });
        </script>
        

        <!-- Add the chart rendering script -->
        {% if dates and prices %}
          <script>
            var chart = new Highcharts.Chart({
              chart: {
                renderTo: 'stock-chart',
                type: 'line'
              },
              title: {
                text: 'Intraday Stock Price'
              },
              xAxis: {
                categories: {{ dates|safe }}
              },
              yAxis: {
                title: {
                  text: 'Price'
                }
              },
              series: [{
                name: '{{ ticker }}',
                data: {{ prices|safe }}
              }]
            });
          </script>
        {% endif %}

        <div>
            {{stockTable | safe }}
        </div>
    </body>
</html>
