html {
    overflow: hidden;
    height: 100%;
}

body, button, input {
  font: 1em Hind, sans-serif;
  line-height: 1.5em;
}

body,input {
	color: #171717;
}

input{
  text-align: center;
}


h1 { 
  font-size:60px;
  color: #7F1C1C;
}


body {
	background: url(images/office.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-top: -120px;
  flex-direction: column;
}

.search-bar{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
}

















}